    body {
        margin: 0;
        font-family: 'Heebo', sans-serif;
    }

    section {
        display: flex;
    }

    #top-banner {
        background-image: url(../images/top-banner.png);
        background-repeat: no-repeat;
    }

    #dream-banner {
        background-image: url(../images/dream-bg.png);
        background-repeat: no-repeat;
        background-position: right;
    }

    .half-width {
        width: 50%;
        padding: 70px;
    }

    .half-width img {
        width: 100%;
    }

    h1 {
        color: black;
        font-weight: 700;
        font-size: 40px;
    }

    span {
        color: orange;
    }

    a {
        background-color: orange;
        color: white;
        border-radius: 5px;
        text-decoration: none;
        padding: 8px 20px;
    }