body {
    font-family: 'Montserrat', sans-serif;

}

#section {
    display: flex;
    padding: 80px;
    background-image: url(../images/top-banner.png);
    margin: 0px;
    background-repeat: no-repeat;
}

section {
    display: flex;
}



h1 {
    color: black;
    font-weight: 700;
    font-size: 40px;
}

span {
    color: orange;
}

a {
    background-color: orange;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    padding: 8px 20px;
}

#image {
    width: 50%;
    padding: 50px;

}

#head-line {
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding: 80px;
    width: 50%;
    display: flex;




}

.half-weidth {
    width: 50%;
    padding: 50px;
}